

.grid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 800px;
    /* background-color: blueviolet; */
}

.card {
    position: relative;
    width: 100%;
    aspect-ratio: 3/4;
    background-color: #020201cc;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all .8s ease;
}

/* .card:hover{
    transform: rotateY(180deg);
    transition: .8s;
    
} */

.revelar-carta {
    transform: rotateY(180deg);
    transition: .8s;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px rgb(0, 0, 0) solid;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 2s ease;
}

.front {
    background-color: rgb(250, 62, 5);
    /* background-image: url(../image/cachorro.jpg); */
    transform: rotateY(180deg);    
}

.back {
    background-image: url("../image/back.png");
    
    backface-visibility: hidden;
}

.disable-card {
    filter: saturate(0);
    opacity: .5;
    
}