

.grid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 800px;
    /* background-color: blueviolet; */
}

.card {
    position: relative;
    width: 100%;
    aspect-ratio: 3/4;
    background-color: #333;
    border-radius: 10px;
    transition: all .8s ease;
    transform-style: preserve-3d;
}

.card:hover{
    transform: rotateY(180deg);
    transition: .8s;
    
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px rgb(0, 0, 0) solid;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.front {
    background-color: rgb(150, 194, 30);
    background-image: url(../image/cachorro.jpg);
    transform: rotateY(180deg);    
}

.back {
    background-image: url("../image/back.png");
    
    backface-visibility: hidden;
}